<div class="board">
    <div class="columns-container">
        <div class="column" *ngFor="let column of (columns$ | async)">
            <div class="column-header">
                {{column.order}}
                {{ column.title }}

                <button *ngIf="column._id && boardId" (click)="deleteColumn(column._id, boardId)">Delete Column</button>
            </div>
            <div class="tasks-container">
                <button>Create Task</button>
                <div class="task">
                </div>

            </div>
        </div>
        <button mat-button (click)=" addColumnModal()">Create Column</button>
    </div>
</div>