<div class="wrapper">
    <div class="column" cdkDropList *ngIf="this.column._id" [cdkDropListData]="tasks"
        (cdkDropListDropped)="drop($event)">
        <div class="column-header">
            <h4 (click)="updateColumn()">{{column.title | uppercase}}
            </h4>
            <button class="delete-button" (click)="deleteColumn()">Delete Column</button>
        </div>


        <div cdkDropList class="tasks-container" (cdkDropListDropped)="drop($event)">
            <button mat-button (click)="addTask()">Add Task</button>

            <app-task class="task" *ngFor="let task of tasks" [task]="task" [boardId]="boardId ? boardId : null"
                [columnId]="column._id ? column._id : null" (taskDeleted)="handleTaskDeleted($event)"
                (taskUpdated)="handleTaskUpdated($event)" cdkDrag [cdkDragData]="task"></app-task>
        </div>
    </div>
</div>