<div class="wrapper">
    <div class="column" cdkDropList *ngIf="this.column._id" (cdkDropListDropped)="drop($event)">
        <div class="column-header">
            <ng-container *ngIf="!isEditMode; else editMode">
                <h4 (click)="toggleEditMode()">{{column.title | uppercase}}</h4>
                <button class="delete-button" (click)="deleteColumn()">Delete Column</button>
            </ng-container>
            <ng-template #editMode>
                <input type="text" [(ngModel)]="column.title" />
                <div class="edit-bnts">
                    <button (click)="submitEdit()">Save</button>
                    <button (click)="cancelEdit()">Cancel</button>
                </div>


            </ng-template>

        </div>


        <div cdkDropList class="tasks-container" (cdkDropListDropped)="drop($event)">
            <button mat-button (click)="addTask()">Add Task</button>

            <app-task class="task" *ngFor="let task of tasks" [task]="task" [boardId]="boardId ? boardId : null"
                [columnId]="column._id ? column._id : null" (taskDeleted)="handleTaskDeleted($event)"
                (taskUpdated)="handleTaskUpdated($event)" cdkDrag [cdkDragData]="task"></app-task>
        </div>
    </div>
</div>