<div class="wrapper">
    <div class="welcome-page">
        <main>
            <h1>Welcome to the Project Management System</h1>
            <div class="about-project">
                <h2>About Project</h2>
                <p>Project management system is an application that helps an individual in a team or group of developers
                    achieve
                    their goals.</p>
            </div>

            <div class="about-course">
                <h2>About course</h2>
                <p>This project was developed as part of training at Rolling Scopes School.</p>
                <h3>Used Technologies</h3>
                <ul>
                    <li>Angular</li>
                    <li>TypeScript</li>
                    <li>RXJS</li>
                    <li>Final Task Backend</li>
                </ul>
            </div>
            <div class="about-developer">
                <h2>About developer</h2>
                <p>I am a beginner Frontend developer, eager to enhance my knowledge and skills in web development.</p>
            </div>
        </main>
    </div>
</div>