<header>
    <nav *ngIf="isAuthenticated(); else unauthenticatedNav">
        <ul>
            <li>
                <a mat-raised-button color="primary" (click)="createBoard()"> Create New Board</a>
            </li>

            <li><a routerLink="/profile">Edit Profile</a></li>
            <li><a (click)="logout()">Logout</a></li>
        </ul>
    </nav>
    <ng-template #unauthenticatedNav>
        <nav>
            <div class="sing-buttons">
                <a routerLink="/login" class="button">Login</a>
                <a routerLink="/signup" class="button">Sign Up</a>
            </div>
            <div class="language">
                <select>
                    <option>English</option>
                    <option>Русский</option>
                </select>
            </div>
        </nav>


    </ng-template>

</header>